@font-face {
  font-family: 'Courier Prime';
  src: url(/fonts/CourierPrime-Regular.ttf),
       url(/fonts/CourierPrime-Italic.ttf),
       url(/fonts/CourierPrime-BoldItalic.ttf),
       url(/fonts/CourierPrime-CourierPrime-Bold.ttf)
}

* {
  font-family: "Courier Prime";
} 

html {
  /* overflow: hidden; */ /*  Disable scrollbars */
  /* display: block;  *//* No floating content on sides */
}

body {
  margin: 0px;
  border: 0;
  background-color: #000000;
  color: #FFFFFF;
}

.centering {
  display: flex;
  justify-content: center;
}

canvas {
  padding: 0;
  margin-top: auto;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

table {
  table-layout: fixed;
  display: block;
  margin-top: auto;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border:none;
  border-collapse: collapse;
  background-color: #778899;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

th, td {
  width: calc(100%/12);
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding: 4px;
}

th:first-child, td:first-child {
  border-left: none;
}

th:last-child, td:last-child {
  border-right: none;
}

#myProgress {
  margin: auto;
  width: 60%;
  background-color: #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#myBar {
  width: 0%;
  height: 10px;
  background-color: #008000;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.percentage {
  float: left;
  text-align: left;
  width: calc(100%/3);
}

.time{
  float: left;
  text-align: center;
  width: calc(100%/3);
}


.number {
  float: left;
  text-align: right;
  width: calc(100%/3);
}

.progressIndicators{
  margin-top: 2%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 60%;
}

.settings{
  margin-top: 2%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
}

#timelapseTime {
  margin: auto;
  display: block;
}

#clipLength {
  margin: auto;
  display: block;
}

#submit{
  margin: auto;
  display: block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  margin: auto;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #fefefe;
  width: 60%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin: auto;
  padding: 2px 16px;
  background-color: #696969;
  color: white;
}

.modal-body {
  margin: 0 auto;
  padding: 2px 16px;
  color: black;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

#settings {
  margin: 1%;
  color: #FFFFFF;
}

.cardRow{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.card {
  display: block;
  width: 20%;
  margin: 10px;
}

.cardHeader {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #2F4F4F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cardFooter {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #708090;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.settingsRow {
  display: block;
  margin: 0 auto;
  width: 60%;
  background-color: #696969;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.settingLeft {
  display: inline-block;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.settingRight {
  display: inline-block;
  margin: 0 auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.setting {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}

.timelapseSettingsButton {
  font-family: "FontAwesome";
  float: right;
  background-color: rgb(0,0,0,0);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.timelapseSettingsButton:hover {
  background-color: #696969;
}

